<ion-header>
  <ion-toolbar color="tertiary">
     <ion-button slot="end" fill="clear" (click)= "closeChat()">
       <ion-icon name="arrow-back" style="font-size: 25px;
       color: aliceblue;"></ion-icon>
     </ion-button>
     <ion-title>{{chat.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ul *ngIf= "room" >
    <li  *ngFor= "let m of room.Messages">
      {{m.content}}
    </li>
  </ul>
 </ion-content>

 <ion-footer padding>
    <ion-item>
      <ion-textarea #area [(ngModel)]= "msg" ></ion-textarea>
      <ion-button  color="success" (click)= "sendMessage() ">
          <ion-icon name="send">

          </ion-icon>
      </ion-button>
    </ion-item>
 </ion-footer>
